<!DOCTYPE html>
<html>
<head>
	<!-- <meta charset="utf-8" /> -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	<title>Cam Feed</title>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap.min.css" />
	<script src="/static/lib/jQuery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</head>


	<frameset cols="*,*">
		<frame src="/static/framePart/FRONTCAM.html">	
					<frameset rows="*,*">
			<frame src="/static/framePart/ARMCAM.html">
			<frame src="/static/framePart/BACKCAM.html">
		</frameset>
	</frameset>	

</html>


	